.mediaBackground {
    -fx-background-color: gray;
}

.videoBox {
    -fx-background-image: url(Images/audioImg.gif);
    -fx-background-size: 15%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: white;
}

.homePageBackground {
    -fx-background-image: url(Images/HomePage.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.homePageButton {
    -fx-background-color: #393535;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
}

.homePageButton:hover {
    -fx-background-color: #cc912a;
}

.homePageTest {
    -fx-background-color: #811d1d;
    -fx-text-fill: white;
}


/* This is the styling for the game-view.fxml files */
.simpleBackground {
    -fx-background-image: url(Images/background.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.serverBackground {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 5);
}

.progress-bar {
    -fx-accent: #511a91;
    -fx-border-radius: 20px;
}

.progress-bar > .track {
    -fx-background-color: #686868;
}

.progress-bar > .bar {
    -fx-background-color: derive(-fx-accent, 50%);
    -fx-padding: 0; /* Removes padding */
    -fx-background-insets: 0; /* Removes margin/inset */
    -fx-border-radius: 0;
}

